<a href="https://colab.research.google.com/github/Fernandarodg/CinD_23-II/blob/main/01_Phython_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**1.Getting started**#

## 1.1. Python as a Calculator

In [ ]:
# Addition
2 + 3

5

In [ ]:
# Substraction
15 - 7

8

In [ ]:
# Multiplication
63 * 13

819

In [ ]:
# Division
99 / 43

2.302325581395349

In [ ]:
# ???
99 // 43

2

In [ ]:
# Exponentials
8 ** 4

4096

## 1.2. Parentheses

In [ ]:
7 *(2 + 3)

35

## 1.3. Integers versus Real numbers

In [ ]:

print(5)
print(type(5))

5
<class 'int'>

In [ ]:
print (5.0)
print(type(5.0))

5.0
<class 'float'>

## 1.4. Scientific Notation

In [1]:
5.0e03

5000.0

In [2]:
3.2e2

320.0

## 2.1. Print

In [5]:
print(15)
print(16)

15
16

In [7]:
# Print different elements in the same line
print(9,8, 2023)

9 8 2023

In [12]:
# ???
for i in range(1,11): print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
# With a step, in this case 3
for i in range(1,11,3): print(i)

1
4
7
10

In [17]:
# With Text
print("Fernanda")
print("First Names:" , "María Fernanda")
print("First Names:\t" , "María Fernanda")
print("First Names:\n" , "María Fernanda")

Fernanda
First Names: María Fernanda
First Names:	 María Fernanda
First Names:
 María Fernanda

In [18]:
# Text and numbers
print("My favorite number is" , 21)

My favorite number is 21

## 2.2 Round

In [20]:
round(5.7289,2)

5.73

In [36]:
# Exercise
## Approximate the number 15.4795612358
## to 1,2,3,...., decimals and print the result
round(15.4795612358,1)

15.48

In [31]:
round(15.4795612358,2)

15.48

In [32]:
round(15.4795612358,3)

15.48

In [33]:
round(15.4795612358,4)

15.4796

In [35]:
round(15.4795612358,5)

15.47956

In [37]:
round(15.4795612358,6)

15.479561

In [46]:
for i in range(0,11):
  print('Approx. with:',i, ' decimals' ,round(15.4795612358,i))

Approx. with: 0  decimals 15.0
Approx. with: 1  decimals 15.5
Approx. with: 2  decimals 15.48
Approx. with: 3  decimals 15.48
Approx. with: 4  decimals 15.4796
Approx. with: 5  decimals 15.47956
Approx. with: 6  decimals 15.479561
Approx. with: 7  decimals 15.4795612
Approx. with: 8  decimals 15.47956124
Approx. with: 9  decimals 15.479561236
Approx. with: 10  decimals 15.4795612358

In [48]:
# Exercise 2
# Find and print the 100 first multples of 7
for i in range(0,101):
  print('The multiple in position',i,'is',i*7)

The multiple in position 0 is 0
The multiple in position 1 is 7
The multiple in position 2 is 14
The multiple in position 3 is 21
The multiple in position 4 is 28
The multiple in position 5 is 35
The multiple in position 6 is 42
The multiple in position 7 is 49
The multiple in position 8 is 56
The multiple in position 9 is 63
The multiple in position 10 is 70
The multiple in position 11 is 77
The multiple in position 12 is 84
The multiple in position 13 is 91
The multiple in position 14 is 98
The multiple in position 15 is 105
The multiple in position 16 is 112
The multiple in position 17 is 119
The multiple in position 18 is 126
The multiple in position 19 is 133
The multiple in position 20 is 140
The multiple in position 21 is 147
The multiple in position 22 is 154
The multiple in position 23 is 161
The multiple in position 24 is 168
The multiple in position 25 is 175
The multiple in position 26 is 182
The multiple in position 27 is 189
The multiple in position 28 is 196
The multiple in position 29 is 203
The multiple in position 30 is 210
The multiple in position 31 is 217
The multiple in position 32 is 224
The multiple in position 33 is 231
The multiple in position 34 is 238
The multiple in position 35 is 245
The multiple in position 36 is 252
The multiple in position 37 is 259
The multiple in position 38 is 266
The multiple in position 39 is 273
The multiple in position 40 is 280
The multiple in position 41 is 287
The multiple in position 42 is 294
The multiple in position 43 is 301
The multiple in position 44 is 308
The multiple in position 45 is 315
The multiple in position 46 is 322
The multiple in position 47 is 329
The multiple in position 48 is 336
The multiple in position 49 is 343
The multiple in position 50 is 350
The multiple in position 51 is 357
The multiple in position 52 is 364
The multiple in position 53 is 371
The multiple in position 54 is 378
The multiple in position 55 is 385
The multiple in position 56 is 392
The multiple in position 57 is 399
The multiple in position 58 is 406
The multiple in position 59 is 413
The multiple in position 60 is 420
The multiple in position 61 is 427
The multiple in position 62 is 434
The multiple in position 63 is 441
The multiple in position 64 is 448
The multiple in position 65 is 455
The multiple in position 66 is 462
The multiple in position 67 is 469
The multiple in position 68 is 476
The multiple in position 69 is 483
The multiple in position 70 is 490
The multiple in position 71 is 497
The multiple in position 72 is 504
The multiple in position 73 is 511
The multiple in position 74 is 518
The multiple in position 75 is 525
The multiple in position 76 is 532
The multiple in position 77 is 539
The multiple in position 78 is 546
The multiple in position 79 is 553
The multiple in position 80 is 560
The multiple in position 81 is 567
The multiple in position 82 is 574
The multiple in position 83 is 581
The multiple in position 84 is 588
The multiple in position 85 is 595
The multiple in position 86 is 602
The multiple in position 87 is 609
The multiple in position 88 is 616
The multiple in position 89 is 623
The multiple in position 90 is 630
The multiple in position 91 is 637
The multiple in position 92 is 644
The multiple in position 93 is 651
The multiple in position 94 is 658
The multiple in position 95 is 665
The multiple in position 96 is 672
The multiple in position 97 is 679
The multiple in position 98 is 686
The multiple in position 99 is 693
The multiple in position 100 is 700

In [53]:
# Exercise
# Calculate and print the multiplication table for the numbers 3,4,5,6

for j in range(3,7):
   print('Multiplication Table of',j)
   for i in range (1,10):
     print(j,'x',i,'=' ,j*i)

Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
Multiplication Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54