<a href="https://colab.research.google.com/github/Fernandarodg/CinD_23-II/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is variable?**

It is a *container*. You can save stuff in there

In [ ]:
# Example
a = 10

In [ ]:
print(a + 1)
print(a*a)
print(a/2)

11
100
5.0

In [ ]:
# Example
x = y = z = 100

# **2. Delete and Clear**

In [ ]:
# Delete
del y, z

In [ ]:
# Clear
# be careful! you delete everything
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
round(5.7289,2)

5.73

In [ ]:
## USING VARIABLES
n= 15.4795612358  # the number to a approx.
a=0               # the initial approx.
z=11              # (z - 1) the last approx.

for i in range(0,11):
  print('Approx. with:',i, ' decimals' ,round(15.4795612358,i))

Approx. with: 0  decimals 15.0
Approx. with: 1  decimals 15.5
Approx. with: 2  decimals 15.48
Approx. with: 3  decimals 15.48
Approx. with: 4  decimals 15.4796
Approx. with: 5  decimals 15.47956
Approx. with: 6  decimals 15.479561
Approx. with: 7  decimals 15.4795612
Approx. with: 8  decimals 15.47956124
Approx. with: 9  decimals 15.479561236
Approx. with: 10  decimals 15.4795612358

In [ ]:
## Using Variables - Excercise 2
n=7  # the number
a=0     # the initial multiple.
z=101    # (z - 1) the last multiple.

for i in range(0,101):
  print('The multiple in position',i,'is',i*7)

The multiple in position 0 is 0
The multiple in position 1 is 7
The multiple in position 2 is 14
The multiple in position 3 is 21
The multiple in position 4 is 28
The multiple in position 5 is 35
The multiple in position 6 is 42
The multiple in position 7 is 49
The multiple in position 8 is 56
The multiple in position 9 is 63
The multiple in position 10 is 70
The multiple in position 11 is 77
The multiple in position 12 is 84
The multiple in position 13 is 91
The multiple in position 14 is 98
The multiple in position 15 is 105
The multiple in position 16 is 112
The multiple in position 17 is 119
The multiple in position 18 is 126
The multiple in position 19 is 133
The multiple in position 20 is 140
The multiple in position 21 is 147
The multiple in position 22 is 154
The multiple in position 23 is 161
The multiple in position 24 is 168
The multiple in position 25 is 175
The multiple in position 26 is 182
The multiple in position 27 is 189
The multiple in position 28 is 196
The multiple in position 29 is 203
The multiple in position 30 is 210
The multiple in position 31 is 217
The multiple in position 32 is 224
The multiple in position 33 is 231
The multiple in position 34 is 238
The multiple in position 35 is 245
The multiple in position 36 is 252
The multiple in position 37 is 259
The multiple in position 38 is 266
The multiple in position 39 is 273
The multiple in position 40 is 280
The multiple in position 41 is 287
The multiple in position 42 is 294
The multiple in position 43 is 301
The multiple in position 44 is 308
The multiple in position 45 is 315
The multiple in position 46 is 322
The multiple in position 47 is 329
The multiple in position 48 is 336
The multiple in position 49 is 343
The multiple in position 50 is 350
The multiple in position 51 is 357
The multiple in position 52 is 364
The multiple in position 53 is 371
The multiple in position 54 is 378
The multiple in position 55 is 385
The multiple in position 56 is 392
The multiple in position 57 is 399
The multiple in position 58 is 406
The multiple in position 59 is 413
The multiple in position 60 is 420
The multiple in position 61 is 427
The multiple in position 62 is 434
The multiple in position 63 is 441
The multiple in position 64 is 448
The multiple in position 65 is 455
The multiple in position 66 is 462
The multiple in position 67 is 469
The multiple in position 68 is 476
The multiple in position 69 is 483
The multiple in position 70 is 490
The multiple in position 71 is 497
The multiple in position 72 is 504
The multiple in position 73 is 511
The multiple in position 74 is 518
The multiple in position 75 is 525
The multiple in position 76 is 532
The multiple in position 77 is 539
The multiple in position 78 is 546
The multiple in position 79 is 553
The multiple in position 80 is 560
The multiple in position 81 is 567
The multiple in position 82 is 574
The multiple in position 83 is 581
The multiple in position 84 is 588
The multiple in position 85 is 595
The multiple in position 86 is 602
The multiple in position 87 is 609
The multiple in position 88 is 616
The multiple in position 89 is 623
The multiple in position 90 is 630
The multiple in position 91 is 637
The multiple in position 92 is 644
The multiple in position 93 is 651
The multiple in position 94 is 658
The multiple in position 95 is 665
The multiple in position 96 is 672
The multiple in position 97 is 679
The multiple in position 98 is 686
The multiple in position 99 is 693
The multiple in position 100 is 700

## 3. **Naming**

In [ ]:
# A variable with my name
Name = 'Fernanda'
NaMe = 'Fernanda'
NAME = 'Fernanda'
my_name = 'Fernanda'
name = 'Fernanda'
first_name = 'Fernanda'+

In [ ]:
age1 = 21

In [ ]:
age_01 = 21

In [ ]:
## Let's say I want to create a variable for the price of a cellphone

maluma = 100
price = 100

# **5. Data types**

Integers and floats... OK.

In [ ]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
w = 1

In [ ]:
w += 3
print(w)

7

# **5.1. Booleans**

In [ ]:
am_i_alive = False

In [ ]:
print(am_i_alive)
print(type(am_i_alive))

False
<class 'bool'>

## 5.2. Boolean expressions

In [ ]:
x = 2
y = 3

In [ ]:
result1 = x <= y
print(result1)

True

In [ ]:
result2 = x == y
print(result2)

False

In [ ]:
result1 + result2

1

In [2]:
# Practice
# Create the necessary code to evaluate the expression
# x*y > x + y
# for numbers ranging from 1 to 6

for x in range(1, 6):
  for y in range(1, 6):
    print('is x*y > x + y?')
    print('x = ', x,'y = ', y)
    print('x*y =', x*y,'x+y =', x+y)
    print(x*y > x + y)

is x*y > x + y?
x =  1 y =  1
x*y = 1 x+y = 2
False
is x*y > x + y?
x =  1 y =  2
x*y = 2 x+y = 3
False
is x*y > x + y?
x =  1 y =  3
x*y = 3 x+y = 4
False
is x*y > x + y?
x =  1 y =  4
x*y = 4 x+y = 5
False
is x*y > x + y?
x =  1 y =  5
x*y = 5 x+y = 6
False
is x*y > x + y?
x =  2 y =  1
x*y = 2 x+y = 3
False
is x*y > x + y?
x =  2 y =  2
x*y = 4 x+y = 4
False
is x*y > x + y?
x =  2 y =  3
x*y = 6 x+y = 5
True
is x*y > x + y?
x =  2 y =  4
x*y = 8 x+y = 6
True
is x*y > x + y?
x =  2 y =  5
x*y = 10 x+y = 7
True
is x*y > x + y?
x =  3 y =  1
x*y = 3 x+y = 4
False
is x*y > x + y?
x =  3 y =  2
x*y = 6 x+y = 5
True
is x*y > x + y?
x =  3 y =  3
x*y = 9 x+y = 6
True
is x*y > x + y?
x =  3 y =  4
x*y = 12 x+y = 7
True
is x*y > x + y?
x =  3 y =  5
x*y = 15 x+y = 8
True
is x*y > x + y?
x =  4 y =  1
x*y = 4 x+y = 5
False
is x*y > x + y?
x =  4 y =  2
x*y = 8 x+y = 6
True
is x*y > x + y?
x =  4 y =  3
x*y = 12 x+y = 7
True
is x*y > x + y?
x =  4 y =  4
x*y = 16 x+y = 8
True
is x*y > x + y?
x =  4 y =  5
x*y = 20 x+y = 9
True
is x*y > x + y?
x =  5 y =  1
x*y = 5 x+y = 6
False
is x*y > x + y?
x =  5 y =  2
x*y = 10 x+y = 7
True
is x*y > x + y?
x =  5 y =  3
x*y = 15 x+y = 8
True
is x*y > x + y?
x =  5 y =  4
x*y = 20 x+y = 9
True
is x*y > x + y?
x =  5 y =  5
x*y = 25 x+y = 10
True

## 5.4. String Variables

In [3]:
# Example
name = 'Fernanda'
last_name = 'Rodríguez'
print(type(name))
print(last_name)

<class 'str'>
Rodríguez

In [4]:
# Example - caution
price = '100'
print(price)
print(price*2)

100
100100

In [5]:
new_price = int(price)
print(new_price)

100

In [6]:
print(int(last_name))

ValueError: ignored

**Slicing**

In [7]:
#Example
u = 'Universidad de La Salle'
print(u)

Universidad de La Salle

In [28]:
# Slicing
print('Extract the first element of u', u[0])
print('The space is also an element:', u[11])
print('Extract the last element of u', u[-1])
print('Extract the first two element of u', u[0:2])
print('Extract the last two element of u', u[-2:-1]) #npi

Extract the first element of u U
The space is also an element:
Extract the last element of u e
Extract the first two element of u Un
Extract the last two element of u l

**Method**

In [29]:
# lower case
u.lower()

'universidad de la salle'

In [30]:
# Upper case
u.upper()

'UNIVERSIDAD DE LA SALLE'

In [32]:
# Split
u.split(' ')

['Universidad', 'de', 'La', 'Salle']

In [33]:
u.split(' ')[0]

'Universidad'